*.so
*_generated.c
.DS_Store
vslim/examples/vendor/
*.dSYM/
vslim/tests/*.diff
vslim/tests/*.exp
vslim/tests/*.log
vslim/tests/*.out
.idea/
vendor
scratch
.omo/
vphptest/build
php2v_bin
php2v/php2v
php2v/tests/fixtures/*.v
tmp