<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/Pest.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="Knowledge Studio">
            <directory>tests/Feature</directory>
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
